@import '~src/sass/colors';

.card-title {
    text-align-last: center;
    color: rgba($color: $secondary, $alpha: 1.0);
}

.card,
.card-img-top {
    border-radius: 3%;
}

.card-img-top {
    width: 100%;
    height: 12vw;
    object-fit: cover;
}

